<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Tank</string>
		<key>upgrades</key>
		<array>
			<dict>
				<key>attackBonus</key>
				<string>0</string>
				<key>healthBonus</key>
				<string>1</string>
			</dict>
			<dict>
				<key>attackBonus</key>
				<string>0</string>
				<key>healthBonus</key>
				<string>1</string>
			</dict>
		</array>
		<key>pressedBuildButton</key>
		<string>buildTank.png</string>
		<key>mapSprites</key>
		<array>
			<string>tank0.png</string>
			<string>tank1.png</string>
			<string>tank2.png</string>
		</array>
		<key>combatSprites</key>
		<array>
			<dict>
				<key>idle</key>
				<array>
					<string>tank21.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank21c1.png</string>
					<string>tank21c2.png</string>
					<string>tank21c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank21a1.png</string>
					<string>tank21a2.png</string>
					<string>tank21a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank21b1.png</string>
					<string>tank21b2.png</string>
					<string>tank21b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>tank22.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank22c1.png</string>
					<string>tank22c2.png</string>
					<string>tank22c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank22a1.png</string>
					<string>tank22a2.png</string>
					<string>tank22a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank22b1.png</string>
					<string>tank22b2.png</string>
					<string>tank22b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>tank23.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank23c1.png</string>
					<string>tank23c2.png</string>
					<string>tank23c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank23a1.png</string>
					<string>tank23a2.png</string>
					<string>tank23a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank23b1.png</string>
					<string>tank23b2.png</string>
					<string>tank23b3.png</string>
				</array>
			</dict>
		</array>
		<key>normalBuildButton</key>
		<string>buildTank.png</string>
		<key>attack</key>
		<integer>2</integer>
		<key>health</key>
		<integer>1</integer>
		<key>combatAtlases</key>
		<array>
			<string>tankAtlas1.png</string>
			<string>tankAtlas2.png</string>
			<string>tankAtlas3.png</string>
		</array>
		<key>availability</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>3</integer>
		</array>
		<key>turnsBefore</key>
		<integer>0</integer>
		<key>attackSound</key>
		<string>attackTank</string>
		<key>moveSound</key>
		<string>tankMove</string>
	</dict>
	<dict>
		<key>upgrades</key>
		<array>
			<dict>
				<key>attackBonus</key>
				<string>1</string>
				<key>healthBonus</key>
				<string>0</string>
			</dict>
			<dict>
				<key>attackBonus</key>
				<string>0</string>
				<key>healthBonus</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>Gunner</string>
		<key>pressedBuildButton</key>
		<string>buildGunner.png</string>
		<key>normalBuildButton</key>
		<string>buildGunner.png</string>
		<key>attack</key>
		<integer>1</integer>
		<key>health</key>
		<integer>3</integer>
		<key>combatAtlases</key>
		<array>
			<string>gunnerAtlas1.png</string>
			<string>gunnerAtlas2.png</string>
			<string>gunnerAtlas3.png</string>
		</array>
		<key>mapSprites</key>
		<array>
			<string>gunner0.png</string>
			<string>gunner1.png</string>
			<string>gunner2.png</string>
		</array>
		<key>combatSprites</key>
		<array>
			<dict>
				<key>idle</key>
				<array>
					<string>robot11.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot11c1.png</string>
					<string>robot11c2.png</string>
					<string>robot11c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot11a1.png</string>
					<string>robot11a2.png</string>
					<string>robot11a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot11b1.png</string>
					<string>robot11b2.png</string>
					<string>robot11b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>robot12.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot12c1.png</string>
					<string>robot12c2.png</string>
					<string>robot12c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot12a1.png</string>
					<string>robot12a2.png</string>
					<string>robot12a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot12b1.png</string>
					<string>robot12b2.png</string>
					<string>robot12b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>robot13.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot13c1.png</string>
					<string>robot13c2.png</string>
					<string>robot13c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot13a1.png</string>
					<string>robot13a2.png</string>
					<string>robot13a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot13b1.png</string>
					<string>robot13b2.png</string>
					<string>robot13b3.png</string>
				</array>
			</dict>
		</array>
		<key>availability</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>5</integer>
		</array>
		<key>turnsBefore</key>
		<integer>0</integer>
		<key>attackSound</key>
		<string>attackGunner</string>
		<key>moveSound</key>
		<string>gunnerMove</string>
	</dict>
	<dict>
		<key>upgrades</key>
		<array>
			<dict>
				<key>attackBonus</key>
				<string>0</string>
				<key>healthBonus</key>
				<string>1</string>
			</dict>
			<dict>
				<key>attackBonus</key>
				<string>0</string>
				<key>healthBonus</key>
				<string>1</string>
			</dict>
		</array>
		<key>turnsBefore</key>
		<integer>3</integer>
		<key>attackSound</key>
		<string>attackCanoneer</string>
		<key>name</key>
		<string>Canoneer</string>
		<key>pressedBuildButton</key>
		<string>buildCanoneer.png</string>
		<key>normalBuildButton</key>
		<string>buildCanoneer.png</string>
		<key>attack</key>
		<integer>3</integer>
		<key>health</key>
		<integer>1</integer>
		<key>combatAtlases</key>
		<array>
			<string>canoneerAtlas1.png</string>
			<string>canoneerAtlas2.png</string>
			<string>canoneerAtlas3.png</string>
		</array>
		<key>combatSprites</key>
		<array>
			<dict>
				<key>idle</key>
				<array>
					<string>robot31.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot31c1.png</string>
					<string>robot31c2.png</string>
					<string>robot31c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot31a1.png</string>
					<string>robot31a2.png</string>
					<string>robot31a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot31b1.png</string>
					<string>robot31b2.png</string>
					<string>robot31b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>robot32.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot32c1.png</string>
					<string>robot32c2.png</string>
					<string>robot32c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot32a1.png</string>
					<string>robot32a2.png</string>
					<string>robot32a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot32b1.png</string>
					<string>robot32b2.png</string>
					<string>robot32b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>robot33.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot33c1.png</string>
					<string>robot33c2.png</string>
					<string>robot33c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot33a1.png</string>
					<string>robot33a2.png</string>
					<string>robot33a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot33b1.png</string>
					<string>robot33b2.png</string>
					<string>robot33b3.png</string>
				</array>
			</dict>
		</array>
		<key>mapSprites</key>
		<array>
			<string>canoneer0.png</string>
			<string>canoneer1.png</string>
			<string>canoneer2.png</string>
		</array>
		<key>availability</key>
		<array>
			<integer>4</integer>
			<integer>6</integer>
			<integer>8</integer>
		</array>
		<key>moveSound</key>
		<string>canoneerMove</string>
	</dict>
	<dict>
		<key>upgrades</key>
		<array>
			<dict>
				<key>attackBonus</key>
				<string>1</string>
				<key>healthBonus</key>
				<string>0</string>
			</dict>
			<dict>
				<key>attackBonus</key>
				<string>0</string>
				<key>healthBonus</key>
				<string>1</string>
			</dict>
		</array>
		<key>name</key>
		<string>Titan</string>
		<key>turnsBefore</key>
		<integer>5</integer>
		<key>attackSound</key>
		<string>attackTitan</string>
		<key>pressedBuildButton</key>
		<string>buildTitan.png</string>
		<key>normalBuildButton</key>
		<string>buildTitan.png</string>
		<key>attack</key>
		<integer>2</integer>
		<key>health</key>
		<integer>4</integer>
		<key>combatAtlases</key>
		<array>
			<string>titanAtlas1.png</string>
			<string>titanAtlas2.png</string>
			<string>titanAtlas3.png</string>
		</array>
		<key>mapSprites</key>
		<array>
			<string>titan0.png</string>
			<string>titan1.png</string>
			<string>titan2.png</string>
		</array>
		<key>combatSprites</key>
		<array>
			<dict>
				<key>idle</key>
				<array>
					<string>robot21.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot21c1.png</string>
					<string>robot21c2.png</string>
					<string>robot21c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot21a1.png</string>
					<string>robot21a2.png</string>
					<string>robot21a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot21b1.png</string>
					<string>robot21b2.png</string>
					<string>robot21b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>robot22.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot22c1.png</string>
					<string>robot22c2.png</string>
					<string>robot22c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot22a1.png</string>
					<string>robot22a2.png</string>
					<string>robot22a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot22b1.png</string>
					<string>robot22b2.png</string>
					<string>robot22b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>robot23.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>robot23c1.png</string>
					<string>robot23c2.png</string>
					<string>robot23c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>robot23a1.png</string>
					<string>robot23a2.png</string>
					<string>robot23a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>robot23b1.png</string>
					<string>robot23b2.png</string>
					<string>robot23b3.png</string>
				</array>
			</dict>
		</array>
		<key>availability</key>
		<array>
			<integer>7</integer>
			<integer>9</integer>
			<integer>11</integer>
		</array>
		<key>moveSound</key>
		<string>titanMove</string>
	</dict>
	<dict>
		<key>upgrades</key>
		<array>
			<dict>
				<key>attackBonus</key>
				<string>0</string>
				<key>healthBonus</key>
				<string>2</string>
			</dict>
			<dict>
				<key>attackBonus</key>
				<string>2</string>
				<key>healthBonus</key>
				<string>0</string>
			</dict>
		</array>
		<key>name</key>
		<string>Annihilator</string>
		<key>attackSound</key>
		<string>attackAnnihilator</string>
		<key>pressedBuildButton</key>
		<string>buildAnnihilator.png</string>
		<key>normalBuildButton</key>
		<string>buildAnnihilator.png</string>
		<key>attack</key>
		<integer>4</integer>
		<key>health</key>
		<integer>6</integer>
		<key>combatAtlases</key>
		<array>
			<string>annihilatorAtlas1.png</string>
			<string>annihilatorAtlas2.png</string>
			<string>annihilatorAtlas3.png</string>
		</array>
		<key>mapSprites</key>
		<array>
			<string>annihilator0.png</string>
			<string>annihilator1.png</string>
			<string>annihilator2.png</string>
		</array>
		<key>combatSprites</key>
		<array>
			<dict>
				<key>idle</key>
				<array>
					<string>tank11.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank11c1.png</string>
					<string>tank11c2.png</string>
					<string>tank11c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank11a1.png</string>
					<string>tank11a2.png</string>
					<string>tank11a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank11b1.png</string>
					<string>tank11b2.png</string>
					<string>tank11b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>tank12.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank12c1.png</string>
					<string>tank12c2.png</string>
					<string>tank12c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank12a1.png</string>
					<string>tank12a2.png</string>
					<string>tank12a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank12b1.png</string>
					<string>tank12b2.png</string>
					<string>tank12b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>tank13.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank13c1.png</string>
					<string>tank13c2.png</string>
					<string>tank13c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank13a1.png</string>
					<string>tank13a2.png</string>
					<string>tank13a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank13b1.png</string>
					<string>tank13b2.png</string>
					<string>tank13b3.png</string>
				</array>
			</dict>
		</array>
		<key>availability</key>
		<array>
			<integer>9</integer>
			<integer>10</integer>
			<integer>12</integer>
		</array>
		<key>turnsBefore</key>
		<integer>7</integer>
		<key>moveSound</key>
		<string>annihilatorMove</string>
	</dict>
	<dict>
		<key>upgrades</key>
		<array>
			<dict>
				<key>attackBonus</key>
				<string></string>
				<key>healthBonus</key>
				<string></string>
			</dict>
			<dict>
				<key>attackBonus</key>
				<string></string>
				<key>healthBonus</key>
				<string></string>
			</dict>
		</array>
		<key>moveSound</key>
		<string>annihilatorMove</string>
		<key>name</key>
		<string>Protector</string>
		<key>attackSound</key>
		<string>attackProtector</string>
		<key>pressedBuildButton</key>
		<string>buildPressed.png</string>
		<key>normalBuildButton</key>
		<string>buildNormal.png</string>
		<key>attack</key>
		<string>5</string>
		<key>health</key>
		<string>10</string>
		<key>combatAtlases</key>
		<array>
			<string>protectorAtlas.png</string>
			<string>protectorAtlas.png</string>
			<string>protectorAtlas.png</string>
		</array>
		<key>mapSprites</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>combatSprites</key>
		<array>
			<dict>
				<key>idle</key>
				<array>
					<string>tank33.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank33c1.png</string>
					<string>tank33c2.png</string>
					<string>tank33c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank33a1.png</string>
					<string>tank33a2.png</string>
					<string>tank33a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank33b1.png</string>
					<string>tank33b2.png</string>
					<string>tank33b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>tank33.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank33c1.png</string>
					<string>tank33c2.png</string>
					<string>tank33c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank33a1.png</string>
					<string>tank33a2.png</string>
					<string>tank33a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank33b1.png</string>
					<string>tank33b2.png</string>
					<string>tank33b3.png</string>
				</array>
			</dict>
			<dict>
				<key>idle</key>
				<array>
					<string>tank33.png</string>
				</array>
				<key>damage</key>
				<array>
					<string>tank33c1.png</string>
					<string>tank33c2.png</string>
					<string>tank33c3.png</string>
				</array>
				<key>attack</key>
				<array>
					<string>tank33a1.png</string>
					<string>tank33a2.png</string>
					<string>tank33a3.png</string>
				</array>
				<key>death</key>
				<array>
					<string>tank33b1.png</string>
					<string>tank33b2.png</string>
					<string>tank33b3.png</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
