<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>mission01</string>
	<string>mission02</string>
	<string>mission03</string>
	<string>mission04</string>
	<string>mission05</string>
	<string>mission06</string>
	<string>mission07</string>
	<string>mission08</string>
	<string>mission09</string>
	<string>mission10</string>
	<string>mission11</string>
	<string>mission12</string>
</array>
</plist>
